
.top{
    background: #eee;
    text-align: center;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.name{
    font-size: 4em;
}
.name,.email{
    font-weight: 450;
    margin-bottom: 0;
    margin-top: 0;
}
.email, .phone{
    margin-top: 0;
    margin-bottom: 0px;
}

